# Configuración de Teleo - Ejemplo

NEARBY_SERVICE_ID=com.nicolas.teleo.NEARBY_SERVICE

# Signing Config
KEYSTORE_PASSWORD=
KEY_ALIAS=
KEY_PASSWORD=
STORE_FILE=

# API Keys
# GOOGLE_SERVICES_API_KEY=
